<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.myadel.homework">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hw1.MainActivity1"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw2.MainActivity2"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw3.MainActivity3"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw4.task1.MainActivity4"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw4.task1.Activity4_1"
            android:parentActivityName=".hw4.task1.MainActivity4" />
        <activity
            android:name=".hw4.task2.MainActivity4_3"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw4.task3.MainActivity4_4"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw5.MainActivityHomework5"
            android:parentActivityName=".MainMenuActivity" />

        <service
            android:name=".hw5.MyServiceForWifi"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".hw6.MainActivity6"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".hw7.MainActivity7"
            android:parentActivityName=".MainMenuActivity" />
    </application>

</manifest>